.calculadora-tipos-porcentagem {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    .inicio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 30px;

        width: 700px;
        height: 300px;

        background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
        border-radius: 10px;
        margin: 0 40px;
        h2 {
            font-size: 25px;
            margin: 0 15px;
            @media (max-width: 370px) {
                font-size: 18px;
            }
        }
        .botoes {
            display: flex;
            gap: 10px;
            @media (max-width: 605px) {
                flex-direction: column;
            }
            button {
                margin: 0 15px;
            }
        }
    }
    .calculadora-porcentagem {
        display: none;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;

        background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
        border-radius: 10px;

        width: 400px;
        height: 400px;
        margin: 0 40px;
        h1 {
            text-align: center;
            font-size: 25px;
            @media (max-width: 415px) {
                font-size: 20px;
            }
        }
        h2 {
            margin-bottom: 2px;
            margin-left: 15px;
            font-size: 14px;
            @media (max-width: 415px) {
                font-size: 12px;
            }
        }
        button {
            margin-top: 7px;
        }
    }
    .calculadora-equivalente {
        display: none;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;

        background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
        border-radius: 10px;

        width: 400px;
        height: 400px;
        margin: 0 40px;
        h1 {
            text-align: center;
            font-size: 25px;
            @media (max-width: 415px) {
                font-size: 20px;
            }
        }
        h2 {
            margin-bottom: 2px;
            margin-left: 15px;
            font-size: 14px;
            @media (max-width: 415px) {
                font-size: 12px;
            }
        }
        button {
            margin-top: 7px;
        }
    }
    .resultado {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        width: 500px;
        height: 210px; 

        background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
        border-radius: 10px;
        margin: 0 40px;

        @media (max-width: 530px) {
            height: 300px;
        }
        @media (max-width: 322px) {
            width: 270px;
        }
        h2 {
            font-size: 25px;
            border-bottom: solid 1px black;
        }
        h3 {
            font-size: 20px;
            text-align: center;
            margin: 0 15px;
        }
        .botoes {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
            margin: 0 15px;
        }
    }
}